.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }


  .left-slider {
  padding: 0px;
  height: 100%;
  -webkit-box-shadow: 0 2px 8px black;
          box-shadow: 0 2px 8px black;
}

.left-slider ul {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-group li{
  cursor: pointer;
}

#sticky-sidebar{
  padding: 0px;
}

@media (max-width: 380px) {
    
  .left-slider {
    display: none;
  }

  .offset-3{
    margin-left: 0%;
  }

  .offset-9{
    margin-left: 0%;
  }
}

